<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hello User</title>
        <link rel="icon" href="favicon.png" />
        <link rel="stylesheet" href="common.css" />
        <link rel="stylesheet" href="index.css" />
        <script src="common.js" defer></script>
    </head>
    <body>
        <header>
            <img src="user-icon.png" alt="ikon" />
            <h1>Hello User</h1>
        </header>
        <nav>
            <a href="/">Hem</a>
            <a href="/member">Medlemmar</a>
            <a href="/login">Logga in</a>
        </nav>
        <main>
            <article>
                <h2>Lorem Ipsum</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti aperiam quam culpa earum doloribus magni praesentium perspiciatis sit, eveniet ipsa repellat est illum tempora,
                    dolore atque adipisci at aut voluptatem? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa modi ea esse ex ratione deleniti necessitatibus soluta consequatur inventore
                    reiciendis, placeat sint temporibus accusamus iste iure nemo vel consectetur rem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur labore nihil sunt, ullam
                    obcaecati amet sequi dolor, vitae consequuntur, esse quos nobis est! Odio tempore sit error voluptates eum iure! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore
                    nulla ex laborum et, aut repudiandae beatae non optio nam doloribus illum voluptatem perferendis. Blanditiis modi libero laudantium quisquam ut sapiente!Lorem Lorem, ipsum dolor
                    sit amet consectetur adipisicing elit. Corrupti aperiam quam culpa earum doloribus magni praesentium perspiciatis sit, eveniet ipsa repellat est illum tempora, dolore atque
                    adipisci at aut voluptatem?
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa modi ea esse ex ratione deleniti necessitatibus soluta consequatur inventore reiciendis, placeat sint temporibus
                    accusamus iste iure nemo vel consectetur rem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur labore nihil sunt, ullam obcaecati amet sequi dolor, vitae
                    consequuntur, esse quos nobis est! Odio tempore sit error voluptates eum iure! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore nulla ex laborum et, aut repudiandae
                    beatae non optio nam doloribus illum voluptatem perferendis. Blanditiis modi libero laudantium quisquam ut sapiente!Lorem
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptatum quo possimus labore omnis inventore excepturi molestias deleniti facere numquam veritatis nostrum
                    consectetur libero quaerat, blanditiis rerum quisquam, eveniet natus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam facere accusantium ab dolorem? Cum
                    officia officiis qui ex? Perferendis eaque porro corrupti. Harum veritatis nisi quidem quam, alias eveniet.
                </p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti aperiam quam culpa earum doloribus magni praesentium perspiciatis sit, eveniet ipsa repellat est illum tempora,
                    dolore atque adipisci at aut voluptatem? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa modi ea esse ex ratione deleniti necessitatibus soluta consequatur inventore
                    reiciendis, placeat sint temporibus accusamus iste iure nemo vel consectetur rem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur labore nihil sunt, ullam
                    obcaecati amet sequi dolor, vitae consequuntur, esse quos nobis est! Odio tempore sit error voluptates eum iure! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore
                    nulla ex laborum et, aut repudiandae beatae non optio nam doloribus illum voluptatem perferendis. Blanditiis modi libero laudantium quisquam ut sapiente!Lorem Lorem, ipsum dolor
                    sit amet consectetur adipisicing elit. Corrupti aperiam quam culpa earum doloribus magni praesentium perspiciatis sit, eveniet ipsa repellat est illum tempora, dolore atque
                    adipisci at aut voluptatem?
                </p>
            </article>
        </main>
    </body>
</html>
