<!DOCTYPE html>
<html lang="sv" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Medlemmar</title>
        <link rel="icon" href="favicon.png" />
        <link rel="stylesheet" href="common.css" />
        <link rel="stylesheet" href="members.css" />
        <script>
            // Hämtar information om admin med thymeleaf. Inte säker på om detta är det bästa sättet att göra det på men det fungerar.
            let adminUsername = "[[${ adminUsername }]]";
        </script>
        <script src="admin.js" defer></script>
        <script src="members.js" defer></script>
    </head>
    <body>
        <header>
            <img src="user-icon.png" alt="ikon" />
            <h1>Hello User</h1>
        </header>
        <nav>
            <a href="/">Hem</a>
            <a href="/members">Medlemmar</a>
            <a href="/login">Logga in</a>
        </nav>
        <main>
            <div>
                <h2>Medlemmar</h2>
                <ul>
                    <li th:id="${member.username}" th:each="member : ${members}">
                        <span th:text="${member.getUsername}"></span>
                        <!--Döljer ta bort-knappen (länken) tills admin loggar in. Ändras med JavaScript.-->
                        <a hidden="true" th:href="@{/remove-member/{memberUsername}(memberUsername=${member.getUsername})}"></a>
                    </li>
                </ul>
            </div>
        </main>
    </body>
</html>
